{% extends 'layout.html' %}

{% block body %}
     <script>

      function callback (){

        var stock_code = $('#stockSymbol').val();

        var ajax_args = {
          "url": "/stock_ticker?ticker=" + stock_code,
        };

        var request_obj = $.ajax(ajax_args)

        request_obj.done(function( data ) { 
          $('#testing123').html(data);

        });
      }


       $(document).ready(function(){

             $("#submit").click(callback);


             $('#stockSymbol').keyup(function(e){

                if(e.keyCode == 13){

                  callback();
                }
              });
       });

     </script>

  <br />
  <font face = "Helvetica"><p>Please enter the stock ticker symbol.</p></font>

  <input id = "stockSymbol" type='text' placeholder='AMZN' />

  <button id = "submit">Submit</button>

  <br />
  <br />
  <div class = "bk_holder">
    <div id="testing123">
    </div>
  </div>
{% endblock %}
