<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Erika Gutierrez, TDI pre-Program</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style type="text/css">
        h5 {
          color: "white"
        }
    </style>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class = "container">
      {% block body %}{% endblock %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>
